.CompletedTodos {
  height: 165px;
  overflow: hidden;
}

.CompletedTodos__header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 25px;
  width: 100%;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  line-height: 28px !important;
}

.CompletedTodos__header h3 {
  color: #fff;
}

.CompletedTodos .body {
  overflow-y: auto;
  height: calc(100% - 50px);
}