.TodoApp {
  display: flex;
  flex-direction: column;
  margin: 4% auto;
  width: 360px;
  height: 660px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  overflow: auto;
  background: #fff;
}

.TodoApp .header {
  position: relative;
  padding: 25px;
  width: 100%;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #ffffff;
  line-height: 28px !important;
  height: 87px;
}

.TodoApp .header h2 {
  color: #ffffff;
  text-align: center;
}

.TodoList {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}

.TodoList::-webkit-scrollbar {
  background: transparent;
  width: 1px;
}

.TodoList .list {
  list-style: none;
  padding: 0;
}

.TodoItem {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #e7e7e7;
  color: #717171;
  justify-content: space-between;
}

.TodoItem .description:focus {
  outline: none;
}

.TodoItem .action-buttons {
  display: flex;
  justify-content: space-around;
  width: 60px;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}